<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.los.tv.installer">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.START_ACTIVITIES_FROM_BACKGROUND" />
    <uses-permission android:name="android.permission.REBOOT" />    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <application
        android:label="@string/app_name"
        android:theme="@style/SudDynamicColorThemeGlifV3.DayNight">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DiskActivity"
            android:exported="false" />
        <activity
            android:name=".ModeActivity"
            android:exported="false" />
        <activity
            android:name=".ProgressActivity"
            android:exported="false" />
        <activity
            android:name=".PartitionActivity"
            android:exported="false" />
        <activity
            android:name=".OptionsGroupActivity"
            android:exported="false" />
        <activity
            android:name=".OptionsListActivity"
            android:exported="false" />
        <receiver
            android:name=".BootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
